                   /* Setting all things */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

body{
    width: 100%;
    height: 100vh;
    padding: 50px;
    line-height: 1.6;}

                        /* Div containers style */
.container{
    width: 1300px ;
    margin: 15px auto;
    display: flex;
    justify-content: center;}

.holder{
    position: relative;}

                   /* Table style */
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1rem;
    min-width: 900px;
    max-width: 900px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
}

.content-table thead tr{
    background-color: #009879 ;
    color: #fff;
    text-align: left ;
    font-weight: bold;}

.content-table th, .content-table td{
    padding: 12px 20px;
    box-sizing: border-box;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
    transition: 0.05s ease-in;}

.content-table tbody tr:nth-of-type(even){
    background-color: #f4f3f3;}

.content-table tbody tr:last-of-type{
    border-bottom:  2px solid #009879;}

table tbody tr td:nth-child(1){
    width: 295px;
    height: 52px;}

table tbody tr td:nth-child(2){
    width: 108px ;
    height: 52px;}

table tbody tr td:nth-child(3){
    width: 189px ;
    height: 52px;}

table tbody tr td:nth-child(4){
    width: 183px ;
    height: 52px;}

table tbody tr td:nth-child(5){
    width: 123.45px ;
    height: 52.5px;}

.tr-hover-effect:hover{
    transform: scale(1.01);
    background-color: rgba(109, 201, 182, 0.25);
    color: #009879;}

.content-table tbody tr.delete-animation:hover td p,
.content-table tbody tr.edit-animation:hover td p{
    position: relative!important;
    animation-name: animation-text!important;
    animation-duration: 1s!important;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;
    animation-direction: alternate!important;}

.delete-animation:hover{
    /*background-color: rgba(211, 108, 108, 0.35) !important;*/
    color: white!important; ;
    cursor: pointer;
    position: relative!important;
    animation-name: animation-background-delete!important;
    animation-duration: 1s!important;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;
    animation-direction: alternate!important;}

.edit-animation:hover{
    /*background-color: rgba(211, 108, 108, 0.35) !important;*/
    color: white!important; ;
    cursor: pointer;
    position: relative!important;
    animation-name: animation-background-edit!important;
    animation-duration: 1s!important;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;
    animation-direction: alternate!important;}

.background-color-adding{
    position: relative;
    animation-name: animation-background-adding;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.background-color-editing{
    position: relative;
    animation-name: animation-background-editing;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.edit-cancel-icon-animation{
    position: relative;
    animation-name: animation-cancel-icon;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1{
    text-align: center;
    color: #009879;
    font-family: sans-serif;}

.buttons-style{
    position: absolute;
    top: 45px;
    right: 8px;}

.buttons-style i{
    color: #009879;
    margin-left: 5px;
    transition: 0.2s linear;}

#remove-icon{
    display: none;
    color: #da3a3a;}

#remove-icon:hover{
    color: #da3a3a!important;}

.delete-icon-style{
    color: #da3a3a!important;}

.edit-icon-style{
    color: #ea9538!important;}

.add-icon-style{
    color: #009879!important;}

.buttons-style i:first-child{
    position: absolute;
    left: 0;}

.buttons-style i:hover{
    transform: scale(1.2) ;
    color: #027e65;
    cursor: pointer;}

.info-span{
    position: absolute;
    top: 52px;
    left: 95px;
    font-size: 15px;
    color: #d97e44;
    transition: 0.2s linear;}

.span-for-text-delete{
    transition: 0.2s linear;}

@keyframes animation-text {
    0%    {right: 0px; top: 0}
    16.6% {right: 1px; top: 0}
    33.3% {right: 2px; top: 0}
    50%   {right: 4px; top: 0}
    66.6% {right: 2px; top: 0}
    83.3% {right: 1px; top: 0}
    100%  {right: 0px; top: 0}
}

@keyframes animation-background-delete {
    0%   {background-color: #cc9191}
    20%  {background-color: #cc8d8d}
    40%  {background-color: #ce8989}
    50%  {background-color: #d28b8b}
    60%  {background-color: #ce7a7a}
    80%  {background-color: #c48585}
    100% {background-color: #c58787}
}

@keyframes animation-background-edit {
    0%   {background-color: #d39f6f}
    20%  {background-color: #d39d6c}
    40%  {background-color: #d29965}
    50%  {background-color: #be8c57}
    60%  {background-color: #c08752}
    80%  {background-color: #be8241}
    100% {background-color: #cb884c}
}

@keyframes animation-background-editing {
    0%   {transform: scale(1); background-color: rgba(194, 121, 55, 0.15)}
    20%  {transform: scale(1.001); background-color: rgba(194, 121, 55, 0.25)}
    40%  {transform: scale(1.002); background-color: rgba(194, 121, 55, 0.35)}
    50%  {transform: scale(1.003); background-color: rgba(194, 121, 55, 0.45)}
    60%  {transform: scale(1.004); background-color: rgba(194, 121, 55, 0.35)}
    80%  {transform: scale(1.002); background-color: rgba(194, 121, 55, 0.25)}
    100% {transform: scale(1.001); background-color: rgba(194, 121, 55, 0.15)}
}

@keyframes animation-background-adding {
    0%   {transform: scale(1); background-color: rgba(0, 152, 121, 0.2)}
    20%  {transform: scale(1.001); background-color: rgba(0, 152, 121, 0.25)}
    40%  {transform: scale(1.002); background-color: rgba(0, 152, 121, 0.35)}
    50%  {transform: scale(1.003); background-color: rgba(0, 152, 121, 0.45)}
    60%  {transform: scale(1.004); background-color: rgba(0, 152, 121, 0.35)}
    80%  {transform: scale(1.002); background-color: rgba(0, 152, 121, 0.25)}
    100% {transform: scale(1.001); background-color: rgba(0, 152, 121, 0.15)}
}

@keyframes animation-cancel-icon {
    0%   {transform: scale(1); color: rgba(194, 121, 55, 0.35)}
    20%  {transform: scale(1.05); color: rgba(194, 121, 55, 0.45)}
    40%  {transform: scale(1.1); color: rgba(194, 121, 55, 0.60)}
    50%  {transform: scale(1.15); color: rgba(194, 121, 55, 0.70)}
    60%  {transform: scale(1.1); color: rgba(194, 121, 55, 0.60)}
    80%  {transform: scale(1.05); color: rgba(194, 121, 55, 0.45)}
    100% {transform: scale(1); color: rgba(194, 121, 55, 0.35)}
}
/* Input section Styling */

.input-hide-show{
    display: none;
}

.input-style{
    outline: none;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    height: 28px;
    width: 100%;
}

.input-style:focus, select:focus{
    background: #fafcff;
    border: 2px solid #79d0f8!important;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    transition: all ease-in 0.1s;}

.input-style:hover, select:focus{
    border: 1px solid #eaa661;
    box-shadow: 0 0 4px rgba(0, 0,0, 0.1);}

select{
    outline: none;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    color: gray;}

select:after{
    background: #f5f5e7;
    border: 1px solid #52afd2;}

.input-hide-show td:nth-child(1) .input-style{
    min-width: 80%;
}

